@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
@using Factory.Models;
@using System.Collections.Generic;

<h2>@ViewBag.PageTitle</h2>
  

<p><strong>Machines that @Model.EngineerFirstName is licensed to maintain:</strong>

  @if (Model.AssignedMachines.Count == 0)
{
  <p>@Model.EngineerFirstName has not yet been licensed to work on any machines.</p>
}
else 
{
  <ul>
    @foreach(EngineerMachine join in Model.AssignedMachines)
    {
      <li>@Html.ActionLink($"{join.Machine.MachineName}", "Details", "Machines", new {id = join.Machine.MachineId})</li>
      @using (Html.BeginForm("DeleteLicense", "Engineers"))
      {
        @Html.Hidden("licenseId", @join.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}
</p>
<p>
@if (ViewBag.MachinesCount >= 1)
{
  @Html.ActionLink("Add a Machine", "AddMachine", new { id = Model.EngineerId })
}
else
{
  <p class="error">You must <span>@Html.ActionLink("add a machine", "Create", "Machines")</span> before you can license @Model.EngineerFirstName to a machine.</p>
}
</p>

<br /><br />
<p>@Html.ActionLink("Edit this Engineer", "Edit", new { id = Model.EngineerId })</p>

<p>@Html.ActionLink("Delete this Engineer", "Delete", new { id = Model.EngineerId })</p>

<br /><br />
<p>@Html.ActionLink("Back to list", "Index")</p>