@{
  Layout = "_Layout";
}

@using Factory.Models;

<h2>Welcome to the Factory!</h2>


<div id="home-index-body-content">
  <div>
    <h4>Engineers</h4>
    @if (Model["engineers"].Length == 0)
    {
      <p class="error">No engineers have been added yet!</p>
    }
    <ul>
      @foreach (Engineer eng in Model["engineers"])
      {
        <li>@Html.ActionLink(@eng.EngineerFullName, "Details", "Categories", new { id = @eng.EngineerId })</li>
      }
    </ul>
    <p>@Html.ActionLink("Manage Engineers", "Index", "Engineers")</p>
  </div>

  <div>
    <h4>Machines</h4>
    @if (Model["machines"].Length == 0)
    {
      <p class="error">No machines have been added yet!</p>
    }
    <ul>
      @foreach (Machine machine in Model["machines"])
      {
        <li>@Html.ActionLink(@machine.MachineName, "Details", "Categories", new { id = @machine.MachineId })</li>
      }
    </ul>
    <p>@Html.ActionLink("Manage Machines", "Index", "Machines")</p>
  </div>
</div>

<hr />